<div class="custom-wrapper signup">
    <div class="logo">
    </div>
    <h2>Sign Up!</h2>
    <h4>Create new account</h4>
    <div class="input-box">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Name" required>
    </div>
    <div class="input-box">
        <i class="fas fa-envelope"></i>
        <input type="text" placeholder="Email" emailRegexValidator required>
    </div>
    <div class="input-box i-password">
        <i class="fas fa-lock"></i>
        <input [type]="IsToggledPass?'text':'password'" passwordRegexValidator [placeholder]="IsToggledPass?'Password':'Password'" required>
        <i (click)="togglePassword()" class="fas i-right {{IsToggledPass?'fa-eye':'fa-eye-slash'}}"></i>
    </div>
    <div class="input-box i-password">
        <i class="fas fa-lock"></i>
        <input [type]="IsToggledConfirmPass?'text':'password'" passwordRegexValidator [placeholder]="IsToggledConfirmPass?'Confirm Password':'Confirm Password'" required>
        <i (click)="toggleConfirmPassword()" class="fas i-right {{IsToggledConfirmPass?'fa-eye':'fa-eye-slash'}}"></i>
    </div>

    <button type="submit" class="btn" (click)="routeToOtp()">Sign up</button>

    <div class="hr-container">
        <hr class="hr-icon" data-content="or login with">
        <span class="hr-text">or continue with</span>
    </div>
    <div class="login-buttons">
        <button class="google-btn" (click)="loginWithGoogle()" routerLink="/otp"><i class="fab fa-google"></i>Sign up with Google</button>
    </div>
    <button class="top-right" routerLink="/auth/login"><i class='fas fa-sign-in-alt'></i>Login</button>
    <div class="login-buttons">
    </div>
</div>