<toast></toast>
<div class="custom-wrapper confirm-password" [formGroup]="confirmPassForm">
    <div class="logo">
    </div>
    <h2>New Password!</h2>
    <h4>Please enter a new password to reset your account password</h4>
    <div class="input-box i-password">
        <i class="fas fa-lock"></i>
        <input [type]="IsToggledPass?'text':'password'" placeholder="New Password"
           #password formControlName="password" passwordRegexValidator  (keyup.enter)="savePassword()" required>
        <i (click)="togglePassword()" class="fas i-right {{IsToggledPass?'fa-eye':'fa-eye-slash'}}"></i>
        <span (click)="focusInput('password')" class="tooltip {{ (submitted && f['password'].errors) || (f['password'].errors && (f['password'].dirty || f['password'].touched))?'show':''}}">
            <span *ngIf="f['password'].errors?.['required']">Password is required</span>
            <span *ngIf="!f['password'].errors?.['required'] && f['password'].errors?.['passwordInvalid']">Password is
                invalid</span>
            <span class="arrow"></span></span>
    </div>

    <div class="input-box i-password">
        <i class="fas fa-lock"></i>
        <input [type]="IsToggledConfirmPass?'text':'password'"  [placeholder]="IsToggledConfirmPass?'Confirm Password':'Confirm Password'" 
           #confirmPassword formControlName="confirmPassword" passwordRegexValidator  (keyup.enter)="savePassword()" required>
        <i (click)="toggleConfirmPassword()" class="fas i-right {{IsToggledConfirmPass?'fa-eye':'fa-eye-slash'}}"></i>
        <span (click)="focusInput('password')" class="tooltip {{ (submitted && f['confirmPassword'].errors) || (f['confirmPassword'].errors && (f['confirmPassword'].dirty || f['confirmPassword'].touched))?'show':''}}">
        <span *ngIf="f['confirmPassword'].errors?.['required']">Confirm Password is required</span>
        <span *ngIf="f['confirmPassword'].errors?.['passwordMismatch']">Password is mismatch</span>
            <span *ngIf="!f['confirmPassword'].errors?.['required'] && f['confirmPassword'].errors?.['passwordInvalid']">Confirm Password is
                invalid</span>
            <span class="arrow"></span></span>
    </div>

    <button class="top-left" routerLink="/auth/forgot-password"><i class="fas fa-arrow-left"></i> Back</button>
    <button type="submit" class="btn" (click)="savePassword()">Update Password</button>

    <div class="login-buttons"></div>
    <div class="login-buttons"></div>
    <div class="login-buttons"></div>

</div>