<div class="wrapper otp">
    <img loading="lazy" decoding="async" width="100%"  src="assets/security-logo.svg"  alt="">
    <div class="center">
    <h2>Verification code</h2>
    </div>
    <h4>Please enter the verifcation code send to your email address</h4>
    <div class="center otp-box">
        <input type="text" class="otp-input" pattern="\d" maxlength="1">
        <input type="text" class="otp-input" pattern="\d" maxlength="1">
        <input type="text" class="otp-input" pattern="\d" maxlength="1">
        <input type="text" class="otp-input" pattern="\d" maxlength="1">
    </div>
    <button type="submit" class="submit btn">Submit</button>
    <div class="login-buttons">
    </div>
</div>