<div class="wrapper otp">
    <div class="logo">
    </div>
    <div class="center">
        <h2>Verification code</h2>
    </div>
    <h4>Please enter the verifcation code send to your email address</h4>
    <div class="center otp-box">
        <input type="text" class="otp-input" pattern="\d" maxlength="1">
        <input type="text" class="otp-input" pattern="\d" maxlength="1">
        <input type="text" class="otp-input" pattern="\d" maxlength="1">
        <input type="text" class="otp-input" pattern="\d" maxlength="1">
    </div>
    <button type="submit" class="submit btn">Submit</button>
    <div class="login-buttons">
    </div>
</div>