<section>
    <header class="m-0 w-100">
        <p id="return" class="p-0">
            <svg fill="none" viewBox="0 0 24 24" width="25px" height="25px" stroke-width="2" stroke="#65777F"
                class="m-0 p-0 pointer">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
            </svg>
        </p>
        <p id="title" class="m-0 p-0 pointer">CHAT</p>
        <p id="search" class="p-0">
            <svg fill="none" viewBox="0 0 24 24" width="25px" height="25px" stroke-width="2" stroke="#65777F"
                class="m-0 p-0 pointer">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
        </p>
    </header>
    <div id="online" class="m-0 p-0 w-100" *ngIf="false">
        <p id="online-title" class="m-0 w-100">FRIENDS ONLINE (6)</p>
        <div id="online-users">
            <div class="online-user-avatar m-0 p-0 pointer">
                <img src="https://images.unsplash.com/photo-1599566150163-29194dcaad36" />
            </div>
            <div class="online-user-avatar m-0 p-0 pointer">
                <img src="https://images.unsplash.com/photo-1620232224149-25be08bdec08" />
            </div>
            <div class="online-user-avatar m-0 p-0 pointer">
                <img src="https://img.freepik.com/free-photo/sad-person-near-sea_52683-120762.jpg" />
            </div>
            <div class="online-user-avatar m-0 p-0 pointer">
                <img src="https://images.unsplash.com/photo-1594270410221-e6a33cbc6fb9" />
            </div>
            <div class="online-user-avatar m-0 p-0 pointer">
                <img src="https://images.unsplash.com/photo-1544005313-94ddf0286df2" />
            </div>
        </div>x
    </div>
    <div class="tabs">
        <span (click)="activateTab(i)" *ngFor="let tab of tabs;let i = index">{{tab.title}}</span>
        <button class="{{activeClass}}"></button>
    </div>
    <div id="messages" class="m-0 p-0">
        <p id="messages-title" class="w-100" *ngIf="false">MESSAGES (17)</p>
        <div class="chat m-0">
            <div class="online-user-avatar m-0 p-0 pointer">
                <img src="https://img1.wsimg.com/isteam/ip/8f9a5028-92cb-4074-8d56-1467f1e7cf32/ajeetrajbhar.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:2000,h:2000,cg:true" />
            </div>
            <div class="content w-100 p-0">
                <p class="w-100 m-0 p-0">
                    <span class="name pointer">Ajeet Rajbhar</span>
                    <span class="time">21:45</span>
                </p>
                <p class="m-0 p-0">Welcome to the UI/UX Design Chat!</p>
            </div>
        </div>
        <div class="chat m-0">
            <div class="online-user-avatar m-0 p-0 pointer">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/2044px-WhatsApp.svg.png" />
            </div>
            <div class="content w-100 p-0">
                <p class="w-100 m-0 p-0">
                    <span class="name pointer">Whatsapp <img src="assets/verified.png" width="20px"/></span>
                    <span class="time">Yesterday</span>
                </p>
                <p class="m-0 p-0">Let's have meeting with you </p>
            </div>
        </div>
    </div>
</section>