<div class="custom-wrapper token">
    <div class="logo">
    </div>
    <div class="login-buttons">
    </div>
    <h2>Token Encryption Dencryption</h2>

    <div class="input-box">
        <i class="fas fa-envelope"></i>
        <input type="text" placeholder="Token"  [(ngModel)]="token"  required>
    </div>

    <button type="submit" class="btn" (click)="decode()">Decode</button>

    <p *ngIf="decripted">
        {{decripted | json}}
    </p>

    <div class="input-box">
        <i class="fas fa-envelope"></i>
        <input type="text" placeholder="Text"  [(ngModel)]="text"  required>
    </div>

    <button type="submit" class="btn" (click)="encode()">Encode</button>

    <p *ngIf="encripted">
        {{encripted | json}}
    </p>



    <div class="login-buttons">
    </div>
</div>