<div class="custom-wrapper forgot">
    <div class="logo">
    </div>
    <h2>Forgot Password!</h2>
    <h4>Please enter your email to receive a One-Time Password (OTP) for resetting your password</h4>
    <div class="input-box">
        <i class="fas fa-envelope"></i>
        <input type="text" placeholder="Email" required>
    </div>
    <button type="submit" class="btn" (click)="routeToOtp()" routerLink="/auth/otp">Reset Password</button>

    <div class="hr-container">
        <hr class="hr-icon" data-content="or login with">
        <span class="hr-text">or continue with</span>
    </div>
    <div class="login-buttons">
        <button class="google-btn" routerLink="/auth/login"><i class='fas fa-sign-in-alt'></i>Login</button>
        <button class="facebook-btn" routerLink="/auth/register"><i class="fas fa-user-plus"></i> Sign up</button>
    </div>
    <div class="login-buttons">
    </div>
</div>