<toast></toast>
<section >
    <header class="m-0 w-100">
        <div class="profile-info">
            <img [src]="userDetails.profile?userDetails.profile:'assets/user.png'" width="80px" style="margin-left: 10px;" />
            <p id="title" class="m-0 p-0 pointer">{{recieverDetails?.username}}</p>
        </div>
    </header>
    <div class="chat-window">
        <div class="chat-body" *ngFor="let message of messages;">
          <div class="message sent" *ngIf="message.receiver !== recieverDetails._id">
            <p></p>
            <img src="assets/user.png" alt="" width="60px" style="margin-left: 10px;">
          </div>
          <div class="message received" *ngIf="message.receiver === recieverDetails._id">
            <p></p>
            <img src="assets/user.png" alt="" width="60px">
          </div>
        </div>
      </div>

   <div class="footer">
    <div  class="arraydiv">
        <div class="chat-footer" slot="bottom">
          <div class="input-box">
          <input type="text" [(ngModel)]="message"  (keyup.enter)="sendMessage()" placeholder="Type your message here">
        </div>
        <button (click)="sendMessage()">Send</button>
        </div>
      </div>
   </div>
</section>