<section >
    <header class="m-0 w-100">
        <div class="profile-info">
            <img [src]="userDetails.profile?userDetails.profile:'assets/user.png'" width="80px" style="margin-left: 10px;" />
            <p id="title" class="m-0 p-0 pointer">{{recieverDetails.username}}</p>
        </div>
    </header>
    <div class="chat-window" #content [formGroup]="searchGroup">
        <div class="chat-body" *ngFor="let data of searchArrayControl();let i = index">
          <div *ngIf="data.get('searched')?.value == true" class="message sent">
            <p>{{data.get('question')?.value}}</p>
            <img [src]="userDetails.profile?userDetails.profile:'assets/user.png'" width="80px" style="margin-left: 10px;" />
          </div>
          <div *ngIf="data.get('searched')?.value == true" class="message received">
            <img slot="start" [src]="recieverDetails.profile?recieverDetails.profile:'assets/user.png'" alt="" width="80px">
            <p *ngIf="data.get('answer')?.value">{{data.get('answer')?.value}}</p>
          </div>
        </div>
      </div>

   <div class="footer" [formGroup]="searchGroup">
    <div formArrayName="array" class="arraydiv" *ngFor="let data of searchArrayControl(); let i = index; let last = last">
        <div [formGroupName]="i" *ngIf="last" class="chat-footer" slot="bottom">
          <span *ngIf="recordingStarted">{{ data.get('minutes')?.value< 10 ? '0' + data.get('minutes')?.value : '00' }}:{{ data.get('seconds')?.value < 10 ? '0' + data.get('seconds')?.value : '00' }}</span>
          <div *ngIf="recordingStarted" id="bars">
            <div class="bar" *ngFor="let bar of [1,2,3,4,5,6]"></div>
          </div>
          <div class="input-box">
          <input *ngIf="!recordingStarted"   (keyup.enter)="getResponse(i)"
          type="text" formControlName="question" placeholder="Type your message here">
        </div>
        <button *ngIf="!recordingStarted" (click)="getResponse(i)">Send</button>
        </div>
      </div>
   </div>
</section>