<div class="custom-wrapper login" [formGroup]="loginForm">
    <div class="logo">
    </div>
    <h2>Welcome back!</h2>
    <h4>Enter your email and password</h4>
    <div class="input-box">
        <i class="fas fa-envelope"></i>
        <input type="text" placeholder="Email" formControlName="email" emailRegexValidator required>
        <span class="tooltip {{ (submitted && f['email'].errors) || (f['email'].errors && (f['email'].dirty || f['email'].touched))?'show':''}}">
            <span *ngIf="f['email'].errors?.['required']">Email is required</span>
            <span *ngIf="!f['email'].errors?.['required'] && f['email'].errors?.['emailInvalid']">Invalid email
                format</span>
            <span class="arrow"></span></span>
    </div>
    <div class="input-box i-password">
        <i class="fas fa-lock"></i>
        <input [type]="IsToggledPass?'text':'password'" [placeholder]="IsToggledPass?'Password':'Password'"
            formControlName="password" passwordRegexValidator required>
        <i (click)="togglePassword()" class="fas i-right {{IsToggledPass?'fa-eye':'fa-eye-slash'}}"></i>
        <span class="tooltip {{ (submitted && f['password'].errors) || (f['password'].errors && (f['password'].dirty || f['password'].touched))?'show':''}}">
            <span *ngIf="f['password'].errors?.['required']">Password is required</span>
            <span *ngIf="!f['password'].errors?.['required'] && f['password'].errors?.['passwordInvalid']">Password is
                invalid</span>
            <span class="arrow"></span></span>
    </div>
    <div class="checkbox1">
        <label class="cursor" (click)="toggleRemember()"><i class="fa fa-toggle-{{IsToggledRem?'on':'off'}}"
                aria-hidden="true"></i>Remember Me</label>
        <label class="cursor" routerLink="/auth/forgot-password">Forgot Password</label>
    </div>
    <button type="submit" class="btn" (click)="routeToOtp()">Login</button>

    <div class="hr-container">
        <hr class="hr-icon" data-content="or login with">
        <span class="hr-text">or continue with</span>
    </div>
    <div class="login-buttons">
        <button class="google-btn" (click)="loginWithGoogle()"><i class="fab fa-google"></i>Login with
            Google</button>
    </div>
    <button class="top-right" routerLink="/auth/register"><i class="fas fa-user-plus"></i> Sign up</button>
    <div class="login-buttons">
    </div>
</div>