<div class="wrapper signup">
    <div class="logo">
    </div>
    <h2>Welcome to register!</h2>
    <h4>Enter your email to receive a One-Time Password (OTP),We'll send the OTP to register</h4>
    <div class="input-box">
        <i class="fas fa-envelope"></i>
        <input type="text" placeholder="Email" required>
    </div>
    <button type="submit" class="btn" (click)="routeToOtp()" routerLink="/otp">Continue</button>

    <div class="hr-container">
        <hr class="hr-icon" data-content="or login with">
        <span class="hr-text">or continue with</span>
    </div>
    <div class="login-buttons">
        <button class="google-btn" (click)="loginWithGoogle()" routerLink="/otp"><i class="fab fa-google"></i>Sign up with Google</button>
    </div>
    <button class="top-right" routerLink="/login"><i class='fas fa-sign-in-alt'></i>Login</button>
    <div class="login-buttons">
    </div>
</div>